ControllerNode/Connected Services/ComputeNodeService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ComputeNodeServiceLib" />
  <xs:element name="IsWorking">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWorkingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWorkingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestorePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="passwordHash" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="startSymbolsRange" nillable="true" type="q1:ArrayOfchar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestorePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ComputeNodeServiceLib" minOccurs="0" name="RestorePasswordResult" nillable="true" type="q2:RestorePasswordResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputeInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComputeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ComputeNodeServiceLib" minOccurs="0" name="GetComputeInformationResult" nillable="true" type="q3:RestorePasswordResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPasswordComputing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopPasswordComputingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopPasswordComputingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>